* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--color-bg: #f4f2ed;
	--color-light: #fff;
	--color-dark: #4a4a4a;
	--color-grey-light: #e6e6e6;
	--color-primary: #5a3b5d;
	--color-accent: #ffd53d;
	--color-accent-shade: #eee1bc;
	--base-radius: 0.5rem;
}

@font-face {
	font-display: swap;
	font-family: Nunito;
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/nunito-black.woff2') format('woff2'),
		url('/fonts/nunito-black.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: nunito;
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/nunito-semibold.woff2') format('woff2'),
		url('/fonts/nunito-semibold.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: nunito;
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/nunito-regular.woff2') format('woff2'),
		url('/fonts/nunito-regular.woff') format('woff');
}

body {
	background-color: var(--color-bg);
	color: var(--color-dark);
	font-family: nunito, sans-serif;
	min-height: 100vh;
	padding: 2rem;
	position: relative;
	width: 100%;
}

h1,
h2,
h3,
h4 {
	line-height: 1.2;
	margin-block: 2rem;
}

h1 {
	font-size: 4.5rem;
	max-width: 15ch;
}

h2 {
	font-size: 2rem;
	font-weight: 600;
	max-width: 35ch;
}

h3 {
	font-size: 1.7rem;
	padding-bottom: 1rem;
}

.wrapper {
	margin-inline: auto;
	max-width: 55rem;
}

.warpper--large {
	max-width: 75rem;
}

.logo {
	margin: 0 auto;
}

header > div {
	padding-bottom: 2.5rem;
	position: relative;
}

header > div:after {
	background: repeating-linear-gradient(
		-45deg,
		hsla(0, 0%, 100%, 0),
		hsla(0, 0%, 100%, 0) 6px,
		var(--color-accent-shade) 0,
		var(--color-accent-shade) 8px
	);
	bottom: 2.45rem;
	content: '';
	display: block;
	height: 0.85rem;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 115%;
}

.header__blob {
	height: 500px;
	left: -10rem;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	z-index: -1;
}

footer {
	padding: 2rem 2rem 0;
	text-align: center;
}
