* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--color-bg: #f4f2ed;
	--color-light: #fff;
	--color-dark: #111827;
	--color-primary: #263147;
	--color-accent: #ffd53d;
}

@font-face {
	font-display: swap;
	font-family: Nunito;
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/nunito-black.woff2') format('woff2'),
		url('/fonts/nunito-black.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: nunito;
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/nunito-semibold.woff2') format('woff2'),
		url('/fonts/nunito-semibold.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: nunito;
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/nunito-regular.woff2') format('woff2'),
		url('/fonts/nunito-regular.woff') format('woff');
}

body {
	padding: 2rem;
	width: 100%;
	min-height: 100vh;
	display: grid;
	justify-content: center;
	background: var(--color-bg);
	color: var(--color-dark);
	font-family: nunito;
}

h1,
h2,
h3,
h4 {
	line-height: 1.2;
	margin-block: 2rem;
}

h1 {
	font-size: 4.5rem;
	max-width: 15ch;
}

h2 {
	font-size: 2rem;
	font-weight: 600;
	max-width: 35ch;
}

.logo {
	margin: 0 auto;
}

header {
	position: relative;
}

.header__blob {
	height: 500px;
	left: -10rem;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	z-index: -1;
}
